/* styles for heart-icon (used to like cars) */
.heart-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99999;
  cursor: pointer;
}

.heart-icon > path{
  stroke-width: 1px;
}

.no-data{
  font-size: 25px;
  font-weight: 600;
  color: #FFC107;
}